<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>芸品绿前端 NodeServer</title>
</head>
<body>
    <h1>
        <center>
            芸品绿前端 NodeServer
        </center>
    </h1>
</body>
</html>
